html, body {
    font-size: 14px;
}
.articleBox {
    margin: 0 auto;
    width: 640px;
}
.headerBox {
    margin: 20px auto;
}
.headerBox h1 {
    font-size: 20px;
    line-height: 40px;
}


.headerBox div {
    font-size: 13px;
    line-height: 30px;
}

.headerBox div span:nth-of-type(1) {
    color: #576B95;
}

.headerBox div span:nth-of-type(2) {
    color: #AAA;
    margin-left: 10px;
}
.mainBox {

}

.mainBox p {
    margin-top: 10px;
    text-indent: 20px;
    line-height: 30px;
}

.mainBox h3 {
    color: rgb(21, 153, 87);
    font-size: 16px;
    margin-top: 10px;
}

.mainBox img {
    margin: 10px 0;
    width: 100%;
}

.specialBox {
    border-left: 6px solid rgb(220, 230, 240);
    background: rgb(242, 247, 251);
    font-size: 13px;
    padding: 10px;
}

#kuIMG {
    width: 30%;
}